---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{%- comment -%}
Collect unique years from post.date
{%- endcomment -%}
{% assign years = site.publications | map: "date" | uniq %}

{%- comment -%}
Sort years descending by converting to year
{%- endcomment -%}
{% assign years_sorted = years | sort | reverse %}

{% for d in years_sorted %}
  {% assign y = d | date: "%Y" %}
  <h2>{{ y }}</h2><hr />

  {% assign pubs_in_year = site.publications | where_exp: "post", "post.date | date: '%Y' == y" | sort: "date" | reverse %}
  {% for post in pubs_in_year %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
