{% include base_path %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <h2 class="archive__item-title" itemprop="headline" style="text-decoration: none; border-bottom: none;">
      {{ post.title }}
    </h2>

    {% if post.date %}
      <p class="page__meta">
        <i class="fa fa-calendar" aria-hidden="true"></i> 
        {{ post.date | date: '%B %d, %Y' }}
      </p>
    {% endif %}

    {% if post.venue or post.location %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.type }} {% if post.venue %}- {{ post.venue }}{% endif %}{% if post.location %}, {{ post.location }}{% endif %}
      </p>
    {% endif %}

  </article>
</div>